<%= t("home.welcome")%>

<p>
<pre>
Todo:
	- Seite für Einstellungen
	- Benutzerverwaltung, 
		- List Aktion
		- Edit Aktion
		- Passwort Ändern
	- Gruppenrechte
	- Notizen
	- S3 Integration für Musik
</pre>
</p>
