<%= t("home.welcome")%>

<p>
<pre>
Todo:
	- SSL verwenden (http://www.nearinfinity.com/blogs/chris_rohr/configuring_webrick_to_use_ssl.html)
	- Gruppenrechte
	- S3 Integration für Musik
	- Haushaltsbuch
	- Chat (http://railscasts.com/episodes/316-private-pub?autoplay=true)
</pre>
</p>
