<%= t("home.welcome")%>

<p>
<pre>
Todo:
	- SSL verwenden (http://www.nearinfinity.com/blogs/chris_rohr/configuring_webrick_to_use_ssl.html)
	- Benutzerverwaltung, 
		- Edit Aktion
	- Gruppenrechte
	- Notizen
	- S3 Integration für Musik
</pre>
</p>
