<%= link_to image_tag('/assets/icons/back.png', :title => t("common.back")), household_account_categories_list_path %>
<%= link_to image_tag('/assets/icons/edit.png', :title => t("common.edit")), household_account_categories_edit_path(:id=>@household_account_category.id) %>
<p>
	<p>
	<h2><%= @household_account_category.category_id %></h2>
<p>
<pre>
<%= @household_account_category.category_text %>
<pre>
